<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title></title>

        <link href="style/style.css" rel="stylesheet" type="text/css">
        <style>
        </style>
    </head>

    <body>
        <div id="wrapper">
            <header>Burgers!</header>
            <main>
                <div class="burger-input">
                    <label class="burger-label" for="input">Enter a Burger</label>
                    <input class="input" id="burger" placeholder="What do you want to eat">
                </div>
{{{ body }}}
            </main>
            <div id="push"></div>
        </div>
        <footer>All Rights Reserved</footer>

        <section class="status-wrapper">
            <div class="status-message">
                This is a status message
            </div>
        </section>
    </body>

    <!-- link to jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script language="JavaScript" src="javascript/home.js"></script>
</html>