<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title></title>

        <link href="style/style.css" rel="stylesheet" type="text/css">
        <style>
        </style>
    </head>

    <body>
        <div id="wrapper">
            <main>
{{{ body }}}
            </main>
            <div id="push"></div>
        </div>
        <footer>All Rights Reserved</footer>
    </body>

    <!-- link to jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script language="JavaScript" src="javascript/home.js"></script>
</html>