*
{   box-sizing: border-box;
}

:root
{   --head-bg-color: rgba(255, 0, 0, 0.5);
    --head-brd-color: black;
}

body
{   background: url("../images/bigsloppyburger.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

header
{   background: var(--head-bg-color);
    font-size: 39pt;
    padding: 20px;
    text-align: center;
}

main
{   background: rgba(0, 0, 255, 0.5);
    padding: 5vh 5vw 5vh 5vw;
    position: relative;
}

.burger-input
{   background: rgba(0, 255, 255, 0.5);
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    width: 500px;
}

.burger-label
{   font-size: 18px;
    font-weight: bold;
}

.burger-input .input
{   border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

#burger-wrapper
{   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    width: 90vw;
}

.burger-div
{   background: rgba(255, 255, 0, 0.5);
    /* border: 2px solid black; */
    /* border-radius: 3px; */
    min-width: 400px;
    width: 48%;
}

.burger-div p
{   font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/*                                          */
/*  style specific to sticky footer         */
/*                                          */

body, html
{   height: 100%;
}

#wrapper
{   background: rgba(0, 255, 0, 0.5);
    margin-bottom: -36px;
    min-height: 100%;
}

#push
{   background: yellow;
    height: 36px;
}

footer
{   background: gray;
    color: white;
    padding: 10px;
}

/*                                          */
/*  media queries for responsive design     */
/*                                          */
