<header>Burgers!</header>

Burgers I want to eat!
<div class="burger-div list-wish">
    <ul>
    {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
    </ul>
</div>

Burgers I have eaten!
<div class="burger-div list-eaten">
    <ul>
    {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
    {{/each}}
    </ul>
</div>