<div class="burger-item">
	<div class="burger-name">
	{{burger_name}}

	{{#if devoured}}
		<div class="burger-button" data-id="{{id}}" action="delete">
			delete
		</div>
	{{else}}
		<div class="burger-button" data-id="{{id}}" action="devour">
			devour
		</div>
	{{/if}}

	</div>
</div>
